[Desktop Entry]
Type=Application

Name=Rymdport
GenericName=File Transfer
Comment=Easy encrypted sharing of files, folders, and text between devices.
Categories=Network;FileTransfer;P2P;Utility;
Keywords=magic-wormhole;send;receive;sharing;transfer;fyne;

Icon=io.github.jacalz.rymdport
Exec=rymdport %F
Terminal=false