[Desktop Entry]
Type=Application
Name=wormhole-gui
Exec=wormhole-gui
Icon=wormhole-gui
Comment=Share and receive files over local network
Categories=Network;FileTransfer;P2P;
Keywords=magic-wormhole;send;receive;sharing;transfer;